@model DeckSearchViewModel

@{
    ViewData["Title"] = "Decks";
}

@section sideContent {
    <div class="card">
        <h4 class="card-header">
            @ViewData["Title"]
        </h4>

        <form method="get" class="search-filter deck-filter" asp-controller="Deck">
            <div class="card-body">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.Name) })
                </div>

                <div class="form-group">
                    @Html.SortableDropDownList(typeof(DeckViewModel), htmlAttributes: new { @class = "form-control" }, selectedValue: Model.Sort)
                </div>

                <div class="form-group">
                    @Html.SortableDirectionDropDownList(htmlAttributes: new { @class = "form-control" }, selectedValue: Model.SortDir)
                </div>

                <div class="form-group">
                    @Html.DropDownList(nameof(Model.PageSize), Model.PageSizes, new { @class = "form-control", selected = Model.PageSize })
                </div>

            </div>

            <div class="card-footer">
                <button type="button" class="btn btn-success auto-modal" data-modal-url="@Url.Action("Create")" data-modal-title="Create Deck"><span class="fa fa-plus"></span></button>
                <button type="submit" class="btn btn-primary pull-right">Filter</button>

                <div class="clearfix"></div>
            </div>
        </form>
    </div>
}

<div class="row">
    <table class="table table-striped">
        <thead class="thead-inverse">
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var deck in Model.Decks)
            {
                <tr>
                    <th scope="row">
                        <span class="fa fa-star deck-favourite @(deck.IsFavourited ? "enabled" : "")" data-deck-id="@deck.Id"></span>

                        <a asp-controller="Deck" asp-action="View" asp-route-id="@deck.Id">@deck.Name</a>
                    </th>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts {
    <script src="~/modules/decks/_.min.js" asp-append-version="true"></script>
}
