@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html data-base-url="@Url.Content("~/")">
<head>
    <cache>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </cache>

    <title>@ViewData["Title"] - @CardHeroConstants.ApplicationName</title>

    <cache>
        @*@Html.CdnStyle("~/nodelib/tether/1.3.7/css/tether.css", true)
        @Html.CdnStyle("~/nodelib/tether/1.3.7/css/tether-theme-arrows.css", true)
        @Html.CdnStyle("~/nodelib/bootstrap/4.0.0-alpha.6/css/bootstrap.css", true)
        @Html.CdnStyle("~/lib/font-awesome/css/font-awesome.css", true)
        @Html.CdnStyle("~/css/site.css", true)*@
        @*<link rel="stylesheet" href="~/nodelib/tether/1.3.7/css/tether.css" tt-use-asset="true" />*@
        @*<link rel="stylesheet" href="~/nodelib/tether/1.3.7/css/tether-theme-arrows.css" tt-use-asset="true" />*@
        <link rel="stylesheet" href="~/lib/bootstrap/4.0.0-beta/css/bootstrap.css" kk-use-cdn="true" />
        <link rel="stylesheet" href="~/lib/font-awesome/4.7.0/css/font-awesome.css" kk-use-cdn="true" />
        <link rel="stylesheet" href="~/css/site.css" tt-use-asset="true" />
        <link rel="stylesheet" href="~/modules/core/_.min.css" asp-append-version="true" />
    </cache>

    @Html.Raw(JavaScriptSnippet.FullScript)

	@await RenderSectionAsync("styles", false)
</head>
<body>
    @*@{ await FlushAsync(); }*@
    @await Component.InvokeAsync(typeof(MenuViewComponent))

    <div class="container-fluid body-content">
        @{
            var hasSideContent = IsSectionDefined("sideContent");
            var mainCol = hasSideContent ? 10 : 12;
        }

        <div class="row">
            @if (hasSideContent)
            {
                <div class="col-lg-2">
                    @RenderSection("sideContent")
                </div>
            }

            <div class="col-lg-@mainCol">
                @RenderBody()
            </div>
        </div>
    </div>

    <cache>
        <div class="container-fluid">
            <hr />

            <footer>
                <p>&copy; 2017 - @CardHeroConstants.ApplicationName</p>
            </footer>
        </div>
    </cache>

    <div class="scripts">
        <cache>
            @*@Html.CdnScript("~/lib/jquery/dist/jquery.js", true)
            @Html.CdnScript("~/nodelib/tether/1.3.7/js/tether.js", true)
            @Html.CdnScript("~/nodelib/bootstrap/4.0.0-alpha.6/js/bootstrap.js", true)
            @Html.CdnScript("~/lib/moment/moment.js", true)*@
            <script src="~/lib/jquery/3.2.1/jquery.min.js" kk-use-cdn="true"></script>
            <script src="~/lib/popper.js/1.11.1/umd/popper.min.js" kk-use-cdn="true"></script>
            <script src="~/lib/bootstrap/4.0.0-beta/js/bootstrap.min.js" kk-use-cdn="true"></script>
            <script src="~/lib/chart.js/2.5.0/Chart.min.js" kk-use-cdn="true"></script>
            @*<script src="~/lib/moment/moment.js" tt-use-asset="true"></script>*@
            <script src="~/modules/core/_.min.js" asp-append-version="true"></script>
            <script src="~/modules/modals/_.min.js" asp-append-version="true"></script>
        </cache>

        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
