@using System.Text.RegularExpressions;

@model SearchPlayerViewModel

@{
	ViewData["Title"] = "Players";
	ViewData["NgApp"] = "playerApp";
	ViewData["NgController"] = "PlayerSearchController";
}

@section sideContent {
	<h2>@ViewData["Title"]</h2>

	<hr />

	<form method="get" class="search-filter player-filter" ng-init="search($event)">
		<div class="form-group">
			@Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.Name), ng_model = "name" })
		</div>

		<div class="form-group">
			@Html.SortableDropDownList(typeof(PlayerViewModel), htmlAttributes: new { @class = "form-control custom-select", ng_model = "sort" }, selectedValue: Model.Sort)
		</div>

		<div class="form-group">
			@Html.SortableDirectionDropDownList(htmlAttributes: new { @class = "form-control custom-select", ng_model = "sortDir" }, selectedValue: Model.SortDir)
		</div>

		<div class="form-group">
			<button type="submit" class="btn btn-primary pull-right" ng-click="search($event)">Filter</button>

			<div class="clearfix"></div>
		</div>
	</form>
}

<script type="text/ng-template" id="PlayerDetailModal.html">
	<div class="modal-header" ng-init="load()">
		<h3 class="modal-title">{{name}}</h3>
	</div>
	<div class="modal-body">
		<div ng-show="isLoading">
			Loading...
		</div>
		<div ng-show="!isLoading">
			<span>Cards</span>
			<ol>
				<li ng-repeat="card in cards">{{card.card.name}} x{{card.count}}</li>
			</ol>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn" type="button" ng-click="cancel()">Close</button>
	</div>
</script>
<script type="text/ng-template" id="PlayerStatsModal.html">
	<div class="modal-header" ng-init="load()">
		<h3 class="modal-title">{{name}}</h3>
	</div>
	<div class="modal-body">
		<div ng-show="isLoading">
			Loading...
		</div>
		<div ng-show="!isLoading">
			<span>Stats</span>
			<span>Wins: {{wins}}</span>
			<span>Losses: {{losses}}</span>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn" type="button" ng-click="cancel()">Close</button>
	</div>
</script>

<div class="players">
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>@Html.DisplayNameFor(x => x.Name)</th>
				<th class="table-column-small">Stats</th>
			</tr>
		</thead>
		<tbody>
			<tr class="player ng-cloak" data-player-id="{{player.id}}" ng-repeat="player in players">
				<td>
					<a href="@Url.Content("~/Player/Details/{{player.id}}")" ng-bind="player.name" ng-click="view($event, player)"></a>
				</td>
				<td>
					<a href="@Url.Content("~/Player/Stats/{{player.id}}")" ng-click="viewStats($event, player)">Stats</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>

@section styles {
	<environment names="Development">
		<link rel="stylesheet" href="~/css/players.css" />
	</environment>
}

@section scripts {
	<environment names="Development">
		<script asp-src-include="~/js/Player/*Controller.js"></script>
		<script src="~/js/Player/app.js"></script>
	</environment>
}
