@model SearchGameViewModel

@{
	ViewData["Title"] = "Games";
	ViewData["NgApp"] = "gameApp";
	ViewData["NgController"] = "GameSearchController";
}

@section sideContent {
	<h2>@ViewData["Title"]</h2>

	<hr />

	<a class="btn btn-success" asp-controller="Game" asp-action="Create">New Game</a>

	<hr />

	<form method="get" class="search-filter player-filter" ng-init="search($event)">
		<div class="form-group">
			@Html.TextBoxFor(x => x.StartTime, new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.StartTime), ng_model = "startTime" })
		</div>

		<div class="form-group">
			@Html.TextBoxFor(x => x.EndTime, new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.EndTime), ng_model = "endTime" })
		</div>

		<div class="form-group">
			@Html.SortableDropDownList(typeof(GameViewModel), htmlAttributes: new { @class = "form-control custom-select", ng_model = "sort" }, selectedValue: Model.Sort)
		</div>

		<div class="form-group">
			@Html.SortableDirectionDropDownList(htmlAttributes: new { @class = "form-control custom-select", ng_model = "sortDir" }, selectedValue: Model.SortDir)
		</div>

		<div class="form-group">
			<button type="submit" class="btn btn-primary pull-right" ng-click="search($event)">Filter</button>

			<div class="clearfix"></div>
		</div>
	</form>
}

<div class="games">
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th class="table-column-medium">Game&nbsp;#</th>
				<th class="table-column-half">@Html.DisplayNameFor(x => x.StartTime)</th>
				<th class="table-column-half">@Html.DisplayNameFor(x => x.EndTime)</th>
				<th class="table-column-small">@Html.DisplayNameFor(x => x.ActiveOnly)</th>
			</tr>
		</thead>
		<tbody>
			<tr class="game ng-cloak" data-player-id="{{game.id}}" ng-repeat="game in games">
				<td>
					<a href="@Url.Content("~/Game/Details/{{game.id}}")" ng-bind="game.id"></a>
				</td>
				<td ng-bind="game.startTime | amUtc | amDateFormat: 'LLLL'">
				</td>
				<td ng-bind="game.endTime">
				</td>
				<td>
					<label class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" disabled ng-model="game.isActive" />
						<span class="custom-control-indicator"></span>
					</label>
				</td>
			</tr>
		</tbody>
	</table>
</div>

@section styles {
	<environment names="Development">
		<link rel="stylesheet" href="~/css/games.css" />
	</environment>
}

@section scripts {
	<environment names="Development">
		<script asp-src-include="~/js/Game/*Controller.js"></script>
		<script src="~/js/Game/app.js"></script>
	</environment>
}
