
@{
    ViewData["Title"] = "Profile";
}

<h2>Profile</h2>

@foreach (var identity in User.Identities)
{
    <div>
        <h3>@identity.Name</h3>
        <h4>@identity.NameClaimType</h4>
        <h4>@identity.RoleClaimType</h4>

        @foreach (var claim in identity.Claims)
        {
            <div>
                <strong>@claim.Type</strong>
                <span>@claim.Value</span>
            </div>
        }
    </div>
}
