@model CardSearchViewModel

@{
    ViewData["Title"] = "Cards";

    var isAuthenticated = User.Identity.IsAuthenticated;
}

@section sideContent {
    <div class="card">
        <h4 class="card-header">
            @ViewData["Title"]
        </h4>

        <form method="get" class="search-filter card-filter" asp-controller="Card">
            <div class="card-body">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.Name) })
                </div>

                <div class="form-group">
                    @Html.SortableDropDownList(typeof(CardViewModel), htmlAttributes: new { @class = "form-control" }, selectedValue: Model.Sort)
                </div>

                <div class="form-group">
                    @Html.SortableDirectionDropDownList(htmlAttributes: new { @class = "form-control" }, selectedValue: Model.SortDir)
                </div>

                <div class="form-group">
                    @Html.DropDownList(nameof(Model.PageSize), Model.PageSizes, new { @class = "form-control", selected = Model.PageSize })
                </div>
            </div>

            <div class="card-footer">
                <button type="submit" class="btn btn-primary pull-right">Filter</button>

                <div class="clearfix"></div>
            </div>
        </form>
    </div>
}

<div class="row">
    <table class="table table-striped">
        <thead class="thead-inverse">
            <tr>
                <th>Name</th>
                <th>Health</th>
                <th>Attack</th>
                <th>Defence</th>
                <th>Up Attack</th>
                <th>Down Attack</th>
                <th>Left Attack</th>
                <th>Right Attack</th>
                <th>Total Stats</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var card in Model.Cards)
            {
                <tr>
                    <th scope="row">
                        @if (isAuthenticated)
                        {
                            <span class="fa fa-star card-favourite @(card.IsFavourited ? "enabled" : "")" data-card-id="@card.Id"></span>
                        }

                        <a asp-controller="Card" asp-action="View" asp-route-id="@card.Id">@card.Name</a>
                    </th>
                    <td>@card.Health</td>
                    <td>@card.Attack</td>
                    <td>@card.Defence</td>
                    <td>@card.UpAttack</td>
                    <td>@card.DownAttack</td>
                    <td>@card.LeftAttack</td>
                    <td>@card.RightAttack</td>
                    <td>@card.TotalStats</td>
                </tr>
            }    
        </tbody>
    </table>
</div>

@section scripts {
    <script src="~/modules/cards/_.min.js" asp-append-version="true"></script>
}
