@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env
@model ReactAppViewModel

@{
    var isDev = Microsoft.Extensions.Hosting.HostEnvironmentEnvExtensions.IsDevelopment(env);

    var appScript = Model.AppScript;

    ViewData["Title"] = Model.Title;
}

@section head {
    <link rel="stylesheet" async asp-href-include="~/dist/styles.app.*.min.css" asp-append-version="@isDev" />
}

<div id="root">
    <nav class="navbar navbar-dark bg-dark navbar-expand-md fixed-top">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false" aria-label="Toggle navigation">
            <Icon icon="bars" />
        </button>

        <a href="~/" class="navbar-brand">
            <img src="~/favicon.ico" class="d-inline-block align-top" width="32" height="32" alt="Card Hero" />
            Card Hero
        </a>

        <div class="collapse navbar-collapse" id="navbar-header">
        </div>
    </nav>

    <div class="container-fluid body-content">
        <div class="row">
            <div class="col-lg-12 text-center">
                <noscript>
                    <h1 class="display-3">You need to enable JavaScript to run this app.</h1>
                </noscript>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="jumbotron text-center">

                    <h1 class="display-3">The app is currently loading.</h1>

                    <p class="lead">
                        If this is taking a long time, try refreshing the page.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<script defer asp-src-include="~/dist/runtime.*.min.js" asp-append-version="@isDev"></script>
<script defer asp-src-include="~/dist/vendor.*.min.js" asp-append-version="@isDev"></script>
<script defer asp-src-include="~/dist/shared.*.min.js" asp-append-version="@isDev"></script>

@if (!string.IsNullOrWhiteSpace(appScript))
{
    <script defer asp-src-include="~/dist/app.@(appScript).*.min.js" asp-append-version="@isDev"></script>
}
