<!DOCTYPE html>
<html data-base-url="@Url.Content("/")">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TripleTriad.Web.Angular</title>

    <environment names="Development">
		<link rel="stylesheet" href="~/nodelib/tether/css/tether.css" tt-use-asset="true" />
		<link rel="stylesheet" href="~/nodelib/tether/css/tether-theme-arrows.css" tt-use-asset="true" />
        <link rel="stylesheet" href="~/nodelib/bootstrap/css/bootstrap.css" tt-use-asset="true" />
		<link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" tt-use-asset="true" />
		<link rel="stylesheet" href="~/lib/angular/angular-csp.css" tt-use-asset="true" />
		<link rel="stylesheet" href="~/css/site.css" tt-use-asset="true" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

	@await RenderSectionAsync("styles", false)
</head>
<body>
	@{ await FlushAsync(); }
	@await Component.InvokeAsync(typeof(MenuViewComponent))

    <div class="container-fluid body-content" ng-app="@ViewData["NgApp"]">
		<div ng-controller="@ViewData["NgController"]">
			@{ 
				var hasSideContent = IsSectionDefined("sideContent");
				var mainCol = hasSideContent ? 10 : 12;
			}

			@if (hasSideContent)
			{
				<div class="col-md-2 side-content left">
					@RenderSection("sideContent")
				</div>
			}

			<div class="col-md-@mainCol">
				@RenderBody()
			</div>
		</div>
    </div>

	<div class="container-fluid">
		<hr />

		<footer>
			<p>&copy; 2016 - TripleTriad.Web.Angular</p>
		</footer>
	</div>

	<div class="scripts">
		<environment names="Development">
			<script src="~/lib/jquery/dist/jquery.js" tt-use-asset="true"></script>
			<script>
				@* HACK: workaround VS bower bug not being able to downgrade and bootstrap 4 not being about to upgrade *@
				$.fn.jquery = '2.2.4';
			</script>
			<script src="~/nodelib/tether/js/tether.js" tt-use-asset="true"></script>
			<script src="~/nodelib/bootstrap/js/bootstrap.js" tt-use-asset="true"></script>
			<script src="~/lib/moment/moment.js" tt-use-asset="true"></script>
			<script src="~/lib/angular/angular.js" tt-use-asset="true"></script>
			<script src="~/lib/angular-bootstrap/ui-bootstrap-tpls.js" tt-use-asset="true"></script>
			<script src="~/lib/angular-moment/angular-moment.js" tt-use-asset="true"></script>
			<script src="~/js/site.js" asp-append-version="true"></script>
		</environment>
		<environment names="Staging,Production">
			<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
					asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
					asp-fallback-test="window.jQuery">
			</script>
			<script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
					asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
					asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
			</script>
			<script src="~/js/site.min.js" asp-append-version="true"></script>
		</environment>

		@RenderSection("scripts", required: false)
	</div>
</body>
</html>
